---
import "@/styles/globals.css"
import BaseFont from "@/components/base-font.astro";
---
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <BaseFont/>
  <!--<meta http-equiv="refresh" content="0;url=/ko/" />-->
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Astro</title>
</head>
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') ?? "device";
    }
    return "device";
  })();

  if (
    (theme === "device" && window.matchMedia('(prefers-color-scheme: light)').matches)
    || theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);
</script>
