---
---
<a href="/">
  <img src="images/post/thumbnail/v904-nunny-012.jpg" alt="post thumbnail"/>
  <div class="p-4 bg-accent">
    <h1 class="text-xl">제목</h1>
    <p class="mt-2">설명</p>
  </div>
</a>