---
import BaseLayout from "@/layouts/base-layout.astro"
---
<BaseLayout>
  <main class="flex flex-row items-center px-4">
    <div class="max-w-[920px] m-auto">
      <slot/>
    </div>
  </main>
</BaseLayout>