---
import BaseLayout from "@/layouts/base-layout.astro"
import PostCardsContainer from "@/components/post-cards-container.astro"
---
<BaseLayout>
  <main class="flex flex-row items-center px-4">
    <div class="max-w-[920px] m-auto">
      <PostCardsContainer/>
    </div>
  </main>
</BaseLayout>